<%- include("../partials/head") %>

<main class="container py-5">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">ไม่มีสิทธิ์เข้าถึง</h4>
    <p>คุณไม่มีสิทธิ์เข้าถึงหน้านี้</p>
    <hr />
    <a class="btn btn-primary" href="/">กลับหน้าแรก</a>
  </div>
</main>

<%- include("../partials/foot") %>
