<%- include("../partials/head") %>

<main class="container py-5">
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">ไม่พบหน้า</h4>
    <p>ขออภัย ไม่พบหน้าที่คุณต้องการ</p>
    <hr />
    <a class="btn btn-primary" href="/">กลับหน้าแรก</a>
  </div>
</main>

<%- include("../partials/foot") %>
